:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primare-hover-color: #404bbf;
}

/* цвет основного текста #2e2f42 */
/* вторичний цвет текста  #434455 */
/*  белий #ffffff */
/* акцент #4D5AE5 */

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.no-scroll{
  overflow: hidden;
}
/*------------------------------------------------------- службові класи---------------------------------------------- */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.button:hover,
.button:focus {
  background-color: var(--primare-hover-color);
}

/* --------------------------------------------HEADER ----------------------------------------------------*/
.header {
  font-style: normal;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 70px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-color {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.header-list{
  display: none;
}
.header-contact{
  display: none;
}
.mobile-menu-btn{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
}
.sub-form{
  align-items: center;
} 
.mob-menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 100;

  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  padding: 80px 24px 40px 40px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mob-menu.is-open {
  display: flex;
}
.mobil-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-close-btn-icon {
  fill: currentColor;
}
.mob-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}
.mob-link:focus {
  color: var(--primare-hover-color);
}
.mob-link.current {
  color: var(--primare-hover-color);
}

.mob-address-item {
  margin-bottom: 40px;
}
.tel-mob-address-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
}

.email-mob-address-item {
  margin-bottom: 48px;
}
.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-soc-list {
  display: flex;
  justify-content: space-between;
}
.mob-soc-item {
  width: 40px;
  height: 40px;
}
.mob-soc-link {
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.mob-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: currentColor;
}


.mobile-menu-btn-icon{
  stroke: var(--secondary-text-color);
}



/*------------------------------------------------ HERO--------------------------------------------------------*/
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-bg-2x.jpg);
  }
}

.hero-title {
  max-width: 320px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 72px;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  border: none;

  font-family: inherit;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------------------------------------------SECTION PROGRAM--------------------------------------------------------*/
.program {
  padding: 96px 0;
}
.program-top-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.program-title {
  font-size: 36px;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center; 
}

.program-item {
  width: 100%;
  margin-bottom: 72px;
}

.program-item:last-child{
  margin-bottom: 0;
}

.program-list {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.program-text {
  font-weight: 500;
  width: 100%;
}

.program-icon {
  display: none;
}

/* -------------------------------------------------------SECTION ІNSTRUCTION--------------------------------------------------------*/
.instruction{
  display: none;
}
/* -------------------------------------------------------SECTION TEAM--------------------------------------------------------*/
.team {
  background: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  font-weight: 700;
  
  margin-bottom: 72px;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list {
  display: flex;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}
.team-item {
  /* width: calc((100% - 72px) / 4); */
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-description {
  padding: 32px 16px;
}

.team-name {
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-text {
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}
.team-soc-icon {
  fill: #f4f4fd;
}
/* -------------------------------------------------------CUSTOMERS--------------------------------------------------------*/
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--secondary-text-color);
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}
.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--primare-hover-color);
  color: var(--primare-hover-color);
}
.customers-icon {
  fill: currentColor;
}

/* -------------------------------------------------------FOOTER--------------------------------------------------------*/

.footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-logo-text {
  margin-bottom: 72px;

}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.footer-logo-color {
  display: inline-block;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-soc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 208px;
  margin-bottom: 72px;
}
.footer-soc-title {
  display: flex;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
}
.footer-list {
  display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center
}
.footer-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: #f4f4fd;
}
.sub-container{
  max-width: 398px;
}

.sub-form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  
}
.sub-label{
  width: 100%;
}
.sub-input {
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.6;
}

.sub-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.sub-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
}

.sub-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* -------------------------------------------------------PORTFOLIO PROJECTS--------------------------------------------------------*/
.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.projects-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}


.projects-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-btn {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* -------------------------------------------------------PORTFOLIO EXAMPLES--------------------------------------------------------*/

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.examples-item {
  border: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}
.examples-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.application-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.examples-title {
  margin-bottom: 8px;
}

.examples-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}
.examples-link:hover .overlay,
.examples-link:focus .overlay {
  transform: translate(0, 0);
}

/* -------------------------------------------------------MODAL--------------------------------------------------------*/
.backdrop {
  
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 408px;
  min-height: 584px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #fff;
  background-color: #404bbf;
  border: none;
}
.modal-close-btn-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.input-label {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.input-label span {
  display: block;
  margin-bottom: 4px;
}
.input-label + ::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap {
  position: relative;
}
.modal-field-comment {
  margin-bottom: 16px;
}
.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus {
  border-color: #4d5ae5;
}
.modal-field-check {
  margin-bottom: 24px;
}
.check-text {
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link {
  margin-left: 8px;
  color: #4d5ae5;
}

.modal-check:checked + .check-text span {
  border: none;
  background: #404bbf;
  fill: #f4f4fd;
}
.modal-send-btn {
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
}
@media screen and (max-width: 427px) {
  .modal{
    width: 95%;
  }
  .tel-mob-address-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  }
